<hr>
<div>
    <p>Este apartado utiliza el simbolo + para poner dos etiqueta hermanas</p>
    <p>El codigo utilizado es el siguiente: p{{"{"}}Parrafo 1{{'}'}}+p{{"{"}}Parrafo 2{{'}'}}</p>
    <br>
    <p>Parrafo 1</p>
    <p>Parrafo 2</p>
</div>
<br>
<div>
    <p>Este apartado utiliza el simbolo > para crear parrafos con hijos y utilizar ^ para salir del nivel hijo</p>
    <p>El codigo utilizado es el siguiente: h2{{"{"}}Parrafo 1{{'}'}}>p{{"{"}}Hijo de parrafo 1{{'}'}}^h2{{"{"}}Parrafo 2{{'}'}}>p{{"{"}}Hijo de parrafo 2{{'}'}}</p>
    <br>
    <h2>Parrafo 1
        <p>Hijo de parrafo 1</p>
    </h2>
    <h2>Parrafo 2
        <p>Hijo de parrafo 2</p>
    </h2>
</div>
<br>
<div>
    <p>Para finalizar voy a utilizar * para crear una lista de varios elementos de una vez y voy a hacer que la lista tenga una clase con .&lt; nombre &gt; y un id con #&lt; nombre &gt;</p>
    <p> El codigo es el siguiente: ul.Clase#id>li{{"{"}}Hola{{'}'}}*4</p>
    <br>
    <ul class="Clase" id="id">
        <li>Hola</li>
        <li>Hola</li>
        <li>Hola</li>
        <li>Hola</li>
    </ul>
</div>
<hr>
